In [193]:
### imports
import pandas as pd
import sqlalchemy as db

In [194]:
### create connection
engine = db.create_engine("iris://_system:SYS@localhost:1972/SAMPLE")
connection = engine.connect()

In [195]:
### checks tables  from schemas 
insp = db.inspect(engine) 
print(insp.get_table_names()) ## defaults to SQLUser
print("\n", insp.get_table_names(schema="Sample"))

['aaaaaaaaaaaaaaaaaaaaa2', 'auth_group', 'auth_group_permissions', 'auth_permission', 'auth_user', 'auth_user_groups', 'auth_user_user_permissions', 'books_book', 'django_admin_log', 'django_content_type', 'django_migrations', 'django_session']

 ['PersistentData']

In [196]:
## get available schemas
engine.dialect.get_schema_names(connection)

['%Atelier',
 '%Atelier_v1_Utils',
 '%BigData',
 '%Calendar',
 '%Compiler_Binding',
 '%Compiler_COS',
 '%Compiler_Informix',
 '%Compiler_LG',
 '%Compiler_TSQL',
 '%CSP',
 '%CSP_UI_Portal_SQL_QButtons',
 '%CSP_Util',
 '%Debugger',
 '%DeepSee',
 '%DeepSee_CubeManager',
 '%DeepSee_Dashboard',
 '%DeepSee_extensions_clusters',
 '%DeepSee_extensions_components',
 '%DeepSee_extensions_modelling_iKnow',
 '%DeepSee_extensions_utils',
 '%DeepSee_PMML_Dataset',
 '%DeepSee_PMML_Utils',
 '%DeepSee_Report',
 '%DeepSee_Sets',
 '%DeepSee_SQL',
 '%DeepSee_UserLibrary',
 '%DeepSee_UserPortal_Data',
 '%DeepSee_XMLA',
 '%Dictionary',
 '%DocDB',
 '%ExtentMgr',
 '%ExtentMgr_Catalog',
 '%FileMan',
 '%FOI',
 '%iFind',
 '%iKnow',
 '%iKnow_Classification',
 '%iKnow_DeepSee',
 '%iKnow_Filters',
 '%iKnow_KB',
 '%iKnow_LB',
 '%iKnow_Matching',
 '%iKnow_Metrics',
 '%iKnow_Objects',
 '%iKnow_ont_temp',
 '%iKnow_Queries',
 '%iKnow_Semantics',
 '%iKnow_Stemming',
 '%iKnow_TextTransformation',
 '%iKnow_Utils',
 '%ISQL',
 '%Library',
 '%MFT',
 '%ML',
 '%ML_AutoML',
 '%ML_DataRobot',
 '%ML_DR',
 '%ML_H2O',
 '%ML_PMML',
 '%Monitor',
 '%Monitor_System_Sample',
 '%MV',
 '%Net',
 '%Net_Remote',
 '%OAuth2_Server',
 '%Report',
 '%SQL',
 '%SQL_Diag',
 '%SQL_DICT',
 '%SQL_Manager',
 '%SQL_Manager_QButtons',
 '%SQL_QueryOptimizerOutput',
 '%SQL_Util',
 '%Studio',
 '%Studio_Extension',
 '%Studio_SourceControl',
 '%Studio_Template',
 '%SYNC',
 '%SYS',
 '%SYSTEM',
 '%SYSTEM_dotnet',
 '%SYSTEM_external',
 '%SYSTEM_java',
 '%SYSTEM_python',
 '%SYSTEM_SQL',
 '%SYS_Bench',
 '%SYS_Journal',
 '%SYS_Maint',
 '%SYS_MFT_Connection',
 '%SYS_ML',
 '%SYS_ML_AutoML',
 '%SYS_ML_DataRobot',
 '%SYS_ML_H2O',
 '%SYS_ML_PMML',
 '%SYS_Monitor',
 '%SYS_OAuth2',
 '%SYS_OpenAM',
 '%SYS_Portal',
 '%SYS_PTools',
 '%SYS_Task',
 '%TSQL',
 '%TSQL_sys',
 '%UnitTest',
 '%UnitTest_Result',
 '%WebStress',
 '%WebStress_Machines',
 '%WebStress_Playback',
 '%WebStress_Results',
 '%WebStress_Scripts',
 '%WebStress_Scripts_URLS',
 '%WebStress_Tables',
 '%WebStress_Tests',
 '%WebStress_Utils',
 '%XML',
 '%XML_Exchange',
 '%XML_XPATH',
 '%XSQL',
 '%XSQL_Catalog_Informix',
 '%XSQL_System',
 '%ZEN_Mobile_RSS',
 '%ZEN_Report',
 '%ZPM',
 '%ZPM_PackageManager_Client',
 '%ZPM_PackageManager_Client_Filesystem',
 '%ZPM_PackageManager_Developer',
 '%ZPM_PackageManager_Developer_Annotation',
 '%ZPM_PackageManager_Developer_Annotation_CosEntity',
 '%ZPM_PackageManager_Developer_Annotation_Tag',
 '%ZPM_PackageManager_Developer_Annotation_Tag_API',
 '%ZPM_PackageManager_Developer_Annotation_Tag_API_Object',
 '%ZPM_PackageManager_Developer_DependencyAnalyzer',
 '%ZPM_PackageManager_Developer_Document',
 '%ZPM_PackageManager_Developer_ErrorMessages',
 '%ZPM_PackageManager_Developer_Extension',
 '%ZPM_PackageManager_Developer_Extension_SourceControl',
 '%ZPM_PackageManager_Developer_Lifecycle',
 '%ZPM_PackageManager_Developer_Processor',
 '%ZPM_PackageManager_Developer_Processor_Default',
 '%ZPM_PackageManager_Server',
 'INFORMATION_SCHEMA',
 'PD',
 'Sample',
 'SQLUser']

In [197]:
### create a database and reflect it from a schema in the engine
b = db.orm.declarative_base()
b.metadata.reflect(engine, schema="PD")
b.metadata.tables.keys()

dict_keys(['PD.NameAge'])

In [198]:
### execute query - uses the default database set in IRIS in the Management Portal
# You can change it on Management Portal > System Administration > Configuration > SQL and Object Settings > SQL 
q = "SELECT * FROM PD.NameAge"
connection.exec_driver_sql(q)

In [235]:
### iris to pandas
df = pd.read_sql_table("NameAge", connection, schema="PD")

In [236]:
### check that it worked
print("Type: ", type(df), '\n')
df.head()

Type:  <class 'pandas.core.frame.DataFrame'>

          Name  Age
0      heloisa   20
1     john doe   43
2  joanne gaga   39

In [237]:
### perform some changes
df["Name"] = df["Name"].str.lower()
new_row = pd.Series({"Name": "Albus Dumbledore", "Age": 150})
df = pd.concat([df, new_row.to_frame().T])
df["Legal Age"] = df["Age"] >= 21
df

               Name  Age  Legal Age
0           heloisa   20      False
1          john doe   43       True
2       joanne gaga   39       True
0  Albus Dumbledore  150       True

In [214]:
### send back to iris
df.to_sql("NameAge", con=engine, schema="PD", if_exists="replace")

-1

In [217]:
## checking that it worked
q = "SELECT * FROM PD.NameAge"
r = connection.exec_driver_sql(q)
print("Name, Age, Legal Age")
for row in r:
    print(row[1], ", ", row[2], ", ", row[3])

Name, Age, Legal Age
heloisa ,  20 ,  0
john doe ,  43 ,  1
joanne gaga ,  39 ,  1